$botkit_pink: #e83e8c;
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #FFF;
    font-family: 'helvetica', sans-serif;
}

.wrapper {
    @include clearfix;
    position: relative;
    max-width: 1000px;
    // margin: 0 auto;
    // height: calc(100vh - 62.75px);
    height: 100vh;
    padding-top: 67.25;
    box-sizing: border-box;
}

.box {
    @include clearfix;
    border: 2px solid #CCC;
    padding: 1rem calc(1rem - 2px);
    margin-bottom: 1rem;

    h1,
    h2,
    h3 {
        margin-top: 0;
    }
}

footer {
    text-align: center;
}

.hero {
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 4rem;
        margin: 0;

    }
}

a {
    color: $botkit_pink;
}

.copyurl {
    width: 100%;
    font-size: 1.25rem;
}

div.input {
    label {
        font-weight: bold;
        font-size: smaller;
    }
}

.addon {
    display: flex;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px;
    background: #F0F0F0;

    input,
    textarea {
        flex-grow: 1;
        border: 0;
        background: transparent;
    }

    button {
        flex-grow: 0;
        background: transparent;
        border: 1px solid #999;
        border-radius: 6px;
        font-weight: bold;

        &.textarea {
            align-self: flex-start;
            padding: 0.5rem;
        }

        &:hover {
            background: #FFF;
            color: $botkit_pink;
        }
    }
}

div.hr {
    border: 1px dashed #ccc;
    width: 10%;
    margin: 4rem auto;
    height: 1px;
}

a.button {
    border: 2px solid $botkit_pink;
    font-weight: bold;
    // font-size: 4rem;
    margin: 0;
    border-radius: 3px;
    display: inline-block;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    // color: #FFF;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background-color: #FFF;
    transition: box-shadow 0.1s linear;

    &:hover {
        // background-color: rgba($botkit_pink, 0.1);
        box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    }
}
